

.tips-container .swiper {
  max-width: 20rem;
  height: 25rem;
}

.tips-container .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

.tips-container .swiper-slide:nth-child(1n) {
  background: url('https://i.ibb.co.com/LvXgxS0/image.png') rgba(19, 18, 18, .2);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-origin: border-box;
  background-image: rgba(19, 18, 18, .6);
  background-blend-mode: overlay;
}

.tips-container .swiper-slide:nth-child(2n) {
  background: url('https://i.ibb.co.com/DkQTFxP/image.png') rgba(19, 18, 18, .2);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-origin: border-box;
  background-blend-mode: overlay;
}

.tips-container .swiper-slide:nth-child(3n) {
  background: url('https://i.ibb.co.com/dJ0FdBg/image.png') rgba(19, 18, 18, .3);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-origin: border-box;
  background-blend-mode: overlay;
}

.tips-container .swiper-slide:nth-child(4n) {
  background: url('https://i.ibb.co.com/9ZscZKz/image.png') rgba(19, 18, 18, .3);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-origin: border-box;
  background-attachment: fixed;
  background-blend-mode: overlay;
}

.tips-container .swiper-slide:nth-child(5n) {
  background: url('https://i.ibb.co.com/NWb1nSj/image.png') rgba(19, 18, 18, .3);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-origin: border-box;
  background-blend-mode: overlay;
}



